@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(59, 131, 246, 0.5) !important;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  line-height: 1;
  color: #ffffffcc;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

input,
textarea,
button {
  font-family: inherit;
}

body {
  background: #000;
  background-image: url(img/background.png);
  background-size: cover;
  padding: 0 2rem;
  padding-bottom: 10rem;
}

/* HEADER */

.header {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}

.welcome-text {
  font-family: "Unbounded", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.username-container {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.username {
  font-family: "Unbounded", sans-serif;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 700;
}

.welcome-emoji {
  height: 2.4rem;
}

.header-links-container {
  display: flex;
  gap: 1.2rem;
}

.graph-icon {
  transition: all 0.2s ease-in;
  height: 3.2rem;
  width: 3.2rem;
  color: #fff;
}

.graph-icon:hover {
  color: #1fb058;
}

.btn-contact {
  transition: all 0.2s ease-in;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 999px;

  height: 3.2rem;
  width: 3.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.2rem;
}

.btn-contact:hover {
  cursor: pointer;
  background-color: #1fb058;
  color: #fff;
}

.telegram-img {
  height: 2rem;
}

/* MAIN */

.main-text {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
  margin-bottom: 2rem;
}

.course-card {
  width: 100%;
  background: #0f0f0f;
  background: linear-gradient(50deg, rgba(15, 15, 15, 1) 0%, rgba(28, 28, 28, 1) 100%);
  border-radius: 2.4rem;
  padding: 2rem;
  position: relative;
  transition: all 0.3s;
  margin-bottom: 2rem;
}

.course-card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.label-container {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 6rem;
}

.label {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  border-radius: 999px;
  width: fit-content;
  padding: 1rem 1.6rem;
  background: #000;
  background: radial-gradient(rgb(0, 0, 0) 20%, rgb(50, 59, 54) 80%);
}

.label-text {
  font-family: "Unbounded", sans-serif;
  font-size: 1.4rem;
}

.label-icon {
  width: 1.6rem;
  height: 1.6rem;
  color: #fff;
}

.course-text {
  color: #2cfc7e;
  font-family: "Unbounded", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
  position: relative;
  z-index: 1;
}

.course-name {
  font-family: "Unbounded", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  position: relative;
  z-index: 1;
  max-width: 85%;
  line-height: 1.2;
}

.card-img {
  position: absolute;
  bottom: 0;
  right: 2rem;
  z-index: 0;
  height: 100%;
}

.card-arrow {
  background-color: #1fb058;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
}

.arrow-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #fff;
}

.course-card.locked {
  filter: brightness(0.5);
}

.course-card.locked:hover {
  transform: scale(1);
  cursor: not-allowed;
}

.course-card.locked::after {
  content: "";
  background-image: url(img/lock.svg);
  transform: translate(50%, -50%);
  filter: invert(1);
  width: 5.2rem;
  height: 5.2rem;
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 2;
}

/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  padding: 2rem;
}

.links-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  text-decoration: inherit;
  color: inherit;
  fill: #aaa;
  color: #aaa;
  transition: all 0.3s;
}

.link:hover {
  fill: #fff;
  color: #fff;
}

.link--home:hover {
  background-color: #1fb058;
}

.link-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.link-text {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

.link--home {
  background-color: #343434;
  width: 5.2rem;
  height: 5.2rem;
  justify-self: center;
  border-radius: 100%;
}
